{% extends 'layout.html' %}
{% block content %}
    <div class="form" data-action="{% url  'human' human.id %}">
        <p>Дата рождения:
            <input type="date" name="birthDate"
                    {% if human != None %}
                   value="{{ human.birthDate.isoformat }}"
                    {% endif %}
            >
        </p>
        <p>Имя:
            <input type="text" name="firstName"
                    {% if human != None %}
                   value="{{ human.firstName }}"
                    {% endif %}>
        </p>
        <p>Фамилия:
            <input type="text" name="lastName"
                    {% if human != None %}
                   value="{{ human.lastName }}"
                    {% endif %}>
        </p>
        <p>Возраст:
            <input type="number" name="age"
                    {% if human != None %}
                   value="{{ human.age }}"
                    {% endif %}>
        </p>
        {% csrf_token %}
        <p>
            <button onclick="update(this)">Изменить</button>
            <button onclick="removeId(this)">Удалить</button>
        </p>
    </div>
{% endblock %}
{% block script %}
    <script type="text/javascript">
        //csrfmiddlewaretoken
        function prepare(token) {
            $.ajaxSetup({
                beforeSend: function (xhr, settings) {
                    if (!/^(GET|HEAD|OPTIONS|TRACE)$/i.test(settings.type)) {
                        xhr.setRequestHeader("X-CSRFToken", token)
                    }
                }
            });
        }
        function getData(container) {
            var data = {};
            $('input', container).each(function (index, elem) {
                if ($(elem).val() !== undefined) {
                    data[$(elem).attr('name')] = $(elem).val()
                }
            });
            return data;
        }
        function removeId(elem) {
            var container = elem.closest(".form");
            var data = getData(container);
            prepare(data.csrfmiddlewaretoken);
            $.ajax({
                url: $(container).attr('data-action'),
                type: 'DELETE',
                success: function (result) {
                    location.href = "{% url 'humans' %}";
                }
            })
        }
        function update(elem) {
            var container = elem.closest(".form");
            var data = getData(container);
            prepare(data.csrfmiddlewaretoken);
            $.ajax({
                data: data,
                url: $(container).attr('data-action'),
                type: 'POST',
                success: function (result) {
                    location.href = "{% url 'humans' %}";
                }
            })
        }
    </script>
{% endblock %}
