<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title>{{ title }}</title>
    {% load staticfiles %}
    <script type="text/javascript" src="{% static 'jquery.js' %}"></script>
    {% block script %}
    {% endblock %}
</head>
<body style="background: #b9b9b9">
<div style="background: white; margin: 0 auto; width: 80%; padding: 20px;">
    {% block content %}
    {% endblock %}
</div>
</body>
</html>