{% extends 'layout.html' %}
{% block content %}
    <table cellpadding="0" border="1" cellspacing="0">
        <tr>
            <th>Имя</th>
            <th>Фамилия</th>
            <th>Возраст</th>
            <th>Дата рождения</th>
            <th>Открыть</th>
        </tr>
        {% for human in humans %}
            <tr>
                <td>{{ human.firstName }}</td>
                <td>{{ human.lastName }}</td>
                <td>{{ human.age }}</td>
                <td>{{ human.birthDate.isoformat }}</td>
                <td><a href="{% url 'human' human.id %}">Открыть</a></td>
            </tr>
        {% endfor %}
    </table>

    <hr>
    <div class="form" data-action="{% url  'humans' %}">
        <p><label>
            Дата рождения:
            <input type="date" name="birthDate">
        </label>
        </p>
        <p><label>
            Имя:
            <input type="text" name="firstName">
        </label>
        </p>
        <p><label>
            Фамилия:
            <input type="text" name="lastName">
        </label>
        </p>
        <p><label>
            Возраст:
            <input type="number" name="age">
        </label>
        </p>
        {% csrf_token %}
        <p>
            <button type="submit" onclick="put(this)">Добавить</button>
        </p>
    </div>
{% endblock %}
{% block script %}
    <script type="text/javascript">
        var put = function (elem) {
            var container = elem.closest(".form");
            var data = {};
            $('input', container).each(function (index, elem) {
                console.log(elem);
                if ($(elem).val() !== undefined) {
                    data[$(elem).attr('name')] = $(elem).val()
                }
                console.log(data);
            });
            $.ajaxSetup({
                beforeSend: function (xhr, settings) {
                    if (!/^(GET|HEAD|OPTIONS|TRACE)$/i.test(settings.type)) {
                        xhr.setRequestHeader("X-CSRFToken", data.csrfmiddlewaretoken)
                    }
                }
            });

            $.ajax({
                data: data,
                url: $(container).attr('data-action'),
                type: 'PUT',
                success: function (result) {
                    location.reload();
                }
            })
        }
    </script>
{% endblock %}